  #logo-image {
      mix-blend-mode: multiply;
      height: 50px;
      width: 100px;
  }

  .navbar-toggler {
      border: 0;
  }

  .navbar {
      --bs-navbar-padding-y: 0;
  }

  .nav-item-spacing {
      margin-left: 25px;
  }

  .nav-item-font {
      font-weight: bold;
  }